
# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDBa
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk


.idea
parameters.json
core
vendor
composer.lock

# =========================
# Project Files
# =========================

*.log
/*.html
/*.txt
/*.php
sitemap.xml
sitemap.xml.gz

wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/languages/
wp-content/wp-cache-config.php


wp-includes/
wp-admin/
.sass-cache/
.idea/
node_modules/
bower_components/
wp-content/plugins/*
!wp-content/plugins/id-cpt-tax/
wp-content/themes/immerda/package-lock.json
wp-content/themes/immerda/dist-assets/js/theme.min.js
wp-content/themes/immerda/dev-assets/js/theme.js
wp-content/themes/immerda/dist-assets/css/theme.min.css
wp-content/themes/immerda/dev-assets/css/theme.css.map
wp-content/themes/immerda/dev-assets/css/theme.css