.people_content {
  &--image {
    width: 100%;
    height: calc(100vh - 80px);
    object-fit: cover;
    object-position: center top;
  }
  &--imagecontent {
    position: absolute;
    top: calc(100vh - 400px);
    width: 100%;
  }
  &--scrolldown {
    height: 80px;
    text-align: center;
    position: relative;
    span {
      position: absolute;
      bottom: 50%;
      transform: translateY(50%);
      svg {
        @include font-size(2.5rem);
        color: $white;
      }
    }
  }
  #people_content {
    min-height: 100vh;
    padding-top: 25px;
    padding-bottom: 25px;
    &.youtube {
      p {
        position:relative;
        padding-bottom:56.25%;
        padding-top:30px;
        height:0;
        overflow:hidden;
        iframe {
          position:absolute;
          top:0;
          left:0;
          width:100%;
          height:100%;
        }
      }
    }
  }
}