.list-group {
  .list-group-item {
    border: none;
    border-bottom: 1px solid $red;
    padding: 20px 0;
    @include font-size(1.8rem);
    &:first-of-type {
      border-top: 1px solid $red;
    }
  }
}