/* Gutenberg Colors */
$gutenberg-colors: ("black": #000000, 'red': #8b0500, 'gray': #757575);
@each $color, $value in $gutenberg-colors {
  .has-#{$color}-color {
    color: $value;
  }
  .has-#{$color}-background-color {
    background-color: $value;
  }
}

.wp-block-image {
  &.contain {
    img {
      width: 100%;
      object-fit: contain;
      object-position: center center;
      height: 300px;
    }
  }
}

.wp-block-embed {
  margin-bottom: 0;
}