/* Gutenberg Colors */
$gutenberg-colors: ("black": #000000, 'red': #8b0500, 'gray': #757575, 'white': #ffffff);
@each $color, $value in $gutenberg-colors {
  .has-#{$color}-color {
    color: $value;
  }
  .has-#{$color}-background-color {
    background-color: $value;
  }
}

.wp-block-image {
  &.contain {
    img {
      width: 100%;
      object-fit: contain;
      object-position: center center;
      height: 300px;
    }
  }
}

.wp-block-embed {
  margin-bottom: 0;
}

.quote_img {
  img {
    width: 100%;
    height: auto;
    border-radius: 100%;
  }
}

.wp-block-quote {
  @extend .blockquote;
  cite {
    @extend .blockquote-footer;
  }
}