#site_footer {
  font-weight: 300;
  min-height: 50px;
  background: $gray-700;
}

#footer_menu {
  list-style: none;
  padding-left: 0;
  li {
    line-height: 25px;
    @include font-size(.85rem);
    &:not(:last-of-type) {
      margin-right: 25px;
    }
  }
  @include media-breakpoint-up(lg) {
    text-align: center;
    li {
      display: inline-block;
      line-height: 50px;
    }
  }
}

#top_footer {
  background-color: $black;
  padding: 75px 0;
  .sub_1 {
    @include font-size(3rem);
  }
  .sub_2 {
    @include font-size(1.85rem);
  }
}